extends layout

block content
  h1= title
  div(class="container-fluid")
    div(class="row")
      each organization, index in a
        div(class="col-sm-2")
          h6 Organization #{index + 1}
          p Organization Name: #{organization.organizationName}
          p Location: #{organization.location}
          p Industry: #{organization.industry}
          p Number of Employees: #{organization.numberOfEmployees}
          p Revenue: #{organization.revenue}
          p Website: #{organization.website}
          div(onclick=`buy(${index})`, class="btn btn-primary") Buy

  script.
    function buy(p) {
      alert(`You purchased item`+ (p+1));
    }