extends layout

block content
  h1= title
  - let organizationName = toShow.organizationName
  - let location = toShow.location
  - let industry = toShow.industry
  - let numberOfEmployees = toShow.numberOfEmployees
  - let revenue = toShow.revenue
  - let website = toShow.website

  div
    div.row
      div(class='organizationsAttr mr-3') Organization Name is:
      div #{organizationName}
    div.row
      div(class='organizationsAttr mr-3') Location is:
      div #{location}
    div.row
      div(class='organizationsAttr mr-3') Industry is:
      div #{industry}
    div.row
      div(class='organizationsAttr mr-3') Number of Employees is:
      div #{numberOfEmployees}
    div.row
      div(class='organizationsAttr mr-3') Revenue is:
      div #{revenue}
    div.row
      div(class='organizationsAttr mr-3') Website is:
      div #{website}
